/* line 4, ../sass/styles.scss */
h1 {
  color: pink;
  background: blue;
  border: 22px solid green;
  margin: 40px 40px;
  -webkit-box-shadow: 22px, 2px, 2px, #555555;
  -moz-box-shadow: 22px, 2px, 2px, #555555;
  box-shadow: 22px, 2px, 2px, #555555;
  width: 20%; }

/* line 13, ../sass/styles.scss */
.main {
  -webkit-box-shadow: 10px 10px 20px #333399;
  -moz-box-shadow: 10px 10px 20px #333399;
  box-shadow: 10px 10px 20px #333399;
  -webkit-border-radius: 20px 40px 32px 5px;
  -moz-border-radius: 20px 40px 32px 5px;
  -ms-border-radius: 20px 40px 32px 5px;
  -o-border-radius: 20px 40px 32px 5px;
  border-radius: 20px 40px 32px 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #999;
  width: 40%;
  height: 100px;
  text-align: center; }
  /* line 21, ../sass/styles.scss */
  .main:hover {
    -webkit-box-shadow: 5px 5px 5px black inset;
    -moz-box-shadow: 5px 5px 5px black inset;
    box-shadow: 5px 5px 5px black inset;
    background-color: yellow;
    font-size: 80px;
    text-shadow: 2px 20px 20px blue;
    text-transform: uppercase;
    width: 80px;
    color: violet;
    position: relative;
    left: 20px;
    height: 300px; }
